<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Car</title>
    <link rel="stylesheet" type="text/css" href="../public/CSS/Acasa.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/general.css">
    <link rel="shortcut icon" type="image/png" href="../public/imagini/car.png" />
</head>
<body class="light" onload="Start()">
  <div class="header"> 
    <a href="file:///E:/Tehnici%20Web/Magazin%20Online/views/Formular.html#" class="button1">Register</a>
    <h1 id="text1"><b><span style="color:white">#4CAR </span></b><br>Everything for your car </h1>
  </div>
    <hr>
    <div class="bara">
    <a href="file:///E:/Tehnici%20Web/Magazin%20Online/views/Acasa.html" class="button">Acasa</a>
    <a href="file:///E:/Tehnici%20Web/Magazin%20Online/views/Contact.html" class="button">Despre noi</a>
    <a href="file:///E:/Tehnici%20Web/Magazin%20Online/views/Magazin.html" class="button">Magazin</a>
    <a href="file:///E:/Tehnici%20Web/Magazin%20Online/views/Oferte.html" class="button">Oferte</a>
    </div>
  <hr>
  <div class="imgtext">
  
  <div class="text">
  <h2>Bine ati venit pe <b>#4Car</b> !</h2>
  <p>Uneori, oricat de noi, frumoase sau bine ingrijite ar fi masinile, ele se strica sau pur si simplu au nevoie de o verificare de rutina. Sau poate doar ne dorim sa ii facem un update. Oricum ar fi, masina noastra are nevoie de un site de incredere. Noi avem nevoie de un site de incredere.
Dar, ca intotdeauna, apare acea intrebare care ne sporeste de multe ori nesiguranta de care masina noastra nu are nevoie. 
  </p>
  <h3>Cum stiu ca este site-ul potrivit? Cum stiu de unde sa cumpar?</h3>
  <p>Si pentru ca iti iubesti masina, ai nevoie sa stii ca lucrurile pe care le cumperi sunt de calitate.
    Pentru asta suntem noi aici. Pentru ca tu iti iubesti masina.
  </p>
  </div>
  <img  src="../public/imagini/car1.png" alt="Car" width="300" height="300"  /></div>
  <h3> Fii sigur de ceea ce cumperi ! <b>#4Car, </b> pentru ca iti iubesti masina! </h3>
<div class="vidimg">
  <img src="../public/imagini/car3.jpg" alt="Marci" width="500" height="200" />
<video id="video" width="320" height="240" controls>
  <source src="../public/video/videocar.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video></div>
<p>
We sell, you win!
</p>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="../public/JS/acasa.js"></script>
</body>
</html>
