<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Magazin</title>
    <link rel="stylesheet" type="text/css" href="../public/CSS/Oferte.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/general.css">
    <link rel="shortcut icon" type="image/png" href="../public/imagini/icon_oferte.png" />
</head>
<body class="light" >
  <div class="header" >
    <a href="file:///E:/Tehnici%20Web/Magazin%20Online/views/Formular.html#" class="button1">Register</a> 
    <h1 id="text2"><b>Black friday</b></h1>
    <h1 id="text1"><b>Oferte</b></h1>
    </div>
    <hr>
    <div class="bara">
      <a href="file:///E:/Tehnici%20Web/Magazin%20Online/views/Acasa.html" class="button">Acasa</a>
      <a href="file:///E:/Tehnici%20Web/Magazin%20Online/views/Contact.html" class="button">Despre noi</a>
      <a href="file:///E:/Tehnici%20Web/Magazin%20Online/views/Magazin.html" class="button">Magazin</a>
      <a href="file:///E:/Tehnici%20Web/Magazin%20Online/views/Oferte.html" class="button">Oferte</a>
      <input type="text" id="search" placeholder="Search..">
    </div>
    <div class="sectiune-adauga">
        <h2>Adauga un produs nou</h2>
        <span class="label">Nume:</span> <input type="text" id="nume" />
        <span class="label">Pret:</span><input type="text" id="pret"/>
        <br>
        <button id="adauga-btn">Adauga produs</button>
    </div>
    <div id="lista-produse">
        <div class="item">
            <h3>Nume: Ulei-motor</h3>
            <h3>Pret: 100</h3>
            <img src="../public/imagini/car4.png" alt="imagine-produs">
            <br />
            <div class="menu">

                <button class="button" id="Cumpara">Cumpara</button>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-trash" aria-hidden="true"></i>
                <div class="dropdown">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                <div class="dropdown-form">
                    <span class="label">Nume:</span> <input type="text" id="upnume" /><br>
                    <span class="label">Pret:</span><input type="text" id="uppret"/><br>
                    <br>
                    <button class="update-btn">Update produs</button>
                </div>
                </div>

            </div>

        </div>
    </div>
    <!-- <div class="grid-container">
      <div class="grid-item">
          <a  href="#">
              <img  src="../imagini/ulei_motor.png" alt="ulei_motor">
          </a><br>
          <a href="#">TRIAX Synergy SRT 10W-40 Full Synthetic High Mileage</a>
          <h2><del>Pret vechi: 150 RON</del></h2>
          <h1>Pret nou: 100 RON</h1>
      </div>
      <div class="grid-item">
          <a  href="#">
              <img  src="../imagini/ambreiaj.png" alt="ambreiaj">
          </a><br>
          <a href="#">DISC AMBREIAJ PCS 210-S7.8-035 SACHS PERFORMANCE</a>
          <h2><del>Pret vechi: 1325 RON</del></h2>
          <h1>Pret nou: 1000 RON</h1>
      </div>
      <div class="grid-item">
          <a  href="#">
              <img  src="../imagini/securitate.png" alt="securitate">
          </a><br>
          <a href="#">SET MOTOARE CU MODUL DE COMANDA MTR 55077 UNIVERSAL</a>
          <h2><del>Pret vechi: 79 RON</del></h2>
          <h1>Pret nou: 55 RON</h1>
      </div>
      <div class="grid-item">
          <a  href="#">
              <img  src="../imagini/baterie.png" alt="baterie">
          </a><br>
          <a href="#">BATERIE AUTO ROMBAT CYCLON 12V 44AH, 390A</a>
          <h2><del>Pret vechi: 350 RON</del></h2>
          <h1>Pret nou: 280 RON</h1>
      </div>
      <div class="grid-item">
          <a  href="#">
              <img  src="../imagini/kit_siguranta.jpg" alt="kit_siguranta">
          </a><br>
          <a href="#">Kit Siguranta Auto Premium Omologat - 2 Triunghiuri reflectorizante, Stingator, Trusa de prim ajutor, Vesta reflectorizanta, Geanta de depozitare</a>
          <h2><del>Pret vechi: 159 RON</del></h2>
          <h1>Pret nou: 119 RON</h1>
      </div>
      <div class="grid-item">
          <a  href="#">
              <img  src="../imagini/anvelopa1.jfif" alt="anvelopa1">
          </a><br>
          <a href="#">Anvelope ALL WEATHER A003490MI 215/65 R 16C 109/107T AGILIS CROSSCLIMATE ALLSEASON EE:C FR:A U:2 73DB-MICHELIN</a>
          <h2><del>Pret vechi: 708 RON</del></h2>
          <h1>Pret nou: 599 RON</h1>
      </div>
  
  </div> -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="../public/JS/oferte.js"></script>
  </body>
  </html>